.container {
  justify-items: auto;
}

body#devices-index{
  background-color: #323233;
}

body#devices-index .navbar {
    background: #323233;
}

.flexy {
  padding-left: 0px;
  padding-bottom: 3px;
}

#otis a {
  color: #f2fcff;
  text-decoration: none;
  a:hover {
    color: white;
  }
}

#otis li {
  list-style: none;
  overflow: hidden;
  height: 150px;
  background-color: #606567;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 7%;
}

li {
  display: flex;
  justify-content: space-between;
}

.cards {
  justify-content: center;
  border-radius: 12px;
  margin: 15px;
  margin-top: 0;
  h1{
    padding-top: 15px;
    text-align: center;
    color: #f2fcff;
    font-family: "Circular Medium" sans-serif;
  }
  // li {
  //   border-radius: 12px;
  // }

}

.devindex {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 120px);
  padding-top: 140px;
}

.devices {
  height: 100%;
  width: 50%;
}

#map {
  margin-right: 12px;
  min-height: calc(100vh - 160px);
  border: 1px solid black;
  position: fixed;
  right: 0;
  border-radius: 12px;
}

.img-fit {
  object-fit: cover;
}

.device_category {
  padding-left: 20px;

  &.speakers {
    i {
      background: #a4ebff;
    }
  }


  &.microphone {
    i {
      background: #ff9090;
      color: maroon;
    }
  }

  i {
    justify-content: end;
    padding: 4px 16px;
    border-radius: 50px;
    font-size: 12px;
    color: #045b74;
  }
}

.device_name {
  padding-left: 20px;
  margin-bottom: 10px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
