// Specific CSS for your home-page
.container {
  margin-bottom: 80px;
}

body#pages-home{
  background-image: image-url("test.jpg");
  background-size: cover;
  background-position: center;
}


#pages-home .navbar {
    background: transparent;
}

.search-bar{
  display: flex;
  background-color: white;
  width: 35%;
  border-radius: 24px;
  overflow: hidden;
  align-items: center;
  border: 1px solid white;
  min-width: 490px;
  margin-bottom: 5%;
  form {
    width: 100%;
    display: flex;
    align-items: center;
    input {
      background: transparent;
      height: 48px;
      padding: 0 16px;
      align-items: center;
      border: none;
      flex-grow: 1;
      border-radius: 24px;

      &:focus,
      &:hover {
        outline: 0;
        background: #f3f3f3;
        + span {
          opacity: 0;
        }
      }
    }

    button.search-icon:hover {
      border-radius: 50%;
      background: black;

      i {
        color: white;
      }
    }
  }
}

.search-icon {
  background: transparent;
  height: 48px;
  padding: 0 16px;
  align-items: center;
  justify-content: end;
  border: none;
  font-family: "Circular Medium";
}

h3#rent {
color: white;
font-family: 'Sansita Swashed', cursive;
padding-bottom: 30px;
}


// .start-date {
//   background: transparent;
//   height: 48px;
//   padding: 0 16px;
//   display: flex;
//   align-items: center;
//   border: none;
//   font-family: "Circular Medium";
// }

// .end-date {
//   background: transparent;
//   height: 48px;
//   padding: 0 16px;
//   display: flex;
//   align-items: center;
//   border: none;
//   font-family: "Circular Medium";
// }

i {
  justify-content: end;
}

button :hover {

}

span {
  width: 1px;
  height: 24px;
  background: rgba( 0, 0, 0, 0.18);
}

// ul {
//     display: flex;
//     justify-content: space-around;
//     list-style: none;
//     margin: auto;
// }

// li {
//   justify-content: space-between;
//   padding: 15px 50px 15px 50px;
// }

#pages-home .custom-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px);
  justify-content: center;
  align-items: center;
}

