// Import page-specific CSS files here.
@import "home";
@import "new_device";

.all {
  display: flex;
  justify-content: space-between;
}

#map {
  margin-top: 12px;
}

.btn-index {
  margin-top: 12px;
}

.list {
  margin-top: 18px;
}
