.container-resa {
 display: flex;
 flex-direction: column;
}

body#reservations-index{
  background-image: image-url("test3.jpg");
  background-size: cover;
  background-position: center;
  // background-repeat: no-repeat;
}


.resa-card-dashboard {
  background-color: white;
  border-radius: 25px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 20vh;
}