.container-resa {
 display: flex;
 flex-direction: column;
}

body#reservations-index{
  background-image: image-url("test3.jpg");
  background-size: cover;
  background-position: center;
  // background-repeat: no-repeat;
}

.cards {
  display: flex;
  justify-content: center;
  width: 730px;
  height: 420px;
  border-radius: 25px;
  box-shadow: 5px 5px 15rpx 1px black;
  padding: 40px;
}

.card {
  justify-content: center;
  width: 70px;
  height: 42px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 1px black;
  padding: 20px;
}

.resa-card-dashboard {
  background-color: white;
  border-radius: 25px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 35px;
}