<%= link_to device_path(device) do %>
  <div class="popup-container">
    <h3><%= device.name %></h3>

    <% if device.photo.attached? %>
      <%= cl_image_tag device.photo.key, height: 120, width: 160, crop: :fill %>
    <% end %>
  </div>
<% end %>
