<div class="container">
  <div class="btn-index">
  <% if policy(Device).create? %>
    <%= link_to "Add a device", new_device_path, class: 'btn btn-primary' %>
  <% end %>
  </div>

  <div class="all">
    <div class="list">
      <h1>All the Devices</h1>
      <ul class= "flexy"><% @devices.each do |device| %>
       <li><%= link_to device.name, device_path(device) %></li>
       <% end %>
      </ul>
    </div>

      <div id="map"
         style="width: 70%; height: 550px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
</div>
