<div class="search-bar">

<%= form_for :devices, url: devices_path, method: :get do |f| %>
  <%= f.text_field :address, class: "Address", placeholder: "Address" %>
  <%= f.text_field :category, class: "Address", placeholder: "Categories"%>
  <%= f.button :submit, {class: "search_icon" } do %><i class="fas fa-search-location"></i><% end %>
<% end %>
    
    <%# <button>
      <div class="search_icon">
        <i class="fas fa-search-location"></i>
      </div>
    </button> %>
</div>

  

  <h3>Rent your musical devices locally</h3>
  <%# <p class="btn btn-success">Find a product in the area</p> %>



