

<div class="home-container" style="background-image: url(<%= image_url("test.jpg") %>)">
  <div class="search-bar">
    <ul>
      <li>Address</li>
      <li>Start Date</li>
      <li>End Date</li>
      <li class="btn btn-danger">Search</li>
    </ul>
  </div>

  <div class="call-to-action">
    <h3>Rent your musical devices locally</h3>
    <p class="btn btn-success">Find a product in the area</p>
  </div>

</div>

