<h1>Votre Reservation est confirmee !</h1>

<h1><%= @reservation.device.name %></h1>
<h1><%= @reservation.start_date %></h1>
<h1><%= @reservation.end_date %></h1>
<%= link_to "Return To Devices", devices_path %>