.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;

  a {
      text-decoration: none;
  }

  a:focus {
    text-decoration: none;
    outline: none;
  }
}

.popup-container {
  padding: 20px 30px;
}

