.navbar-lewagon {
  justify-content: space-between;
  background: #333333;
  color: white;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
  justify-content: space-between;
}

#gear {
  font-family: 'Sansita Swashed', cursive;
}

// span#span2{
//   width: 5px;
//   height: 25px;
//   border-radius: 5px;
//   margin-right: 5px;
//   margin-left: 5px;
//   background: rgba(255, 255, 255, 0.75);
// }

.rent-to-create {
  font-family: 'Sansita Swashed', cursive;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.logo-title{
  display: flex;
  align-items: center;
  a {
    margin-right: 5px;
  }
}

.logo {
  color: white;
}

.login {
  color: white !important;
  opacity: 0.65;
  margin-right: 15px;
}

.login:hover {
  opacity: 1;
}
