.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  color: white;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
  justify-content: space-between;
}

#gear {
  font-family: 'Sansita Swashed', cursive;
}

.rent-to-create {
  font-family: 'Sansita Swashed', cursive;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.logo-title{
  display: flex;
  align-items: center;
  a {
    margin-right: 5px;
  }
}

.logo {
  color: white;
}

.login {
  color: white !important;
  opacity: 0.65;
  margin-right: 15px;
}

.login:hover {
  opacity: 1;
}
